.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    border: 1px solid;
    padding: 12px;
    border-radius: 4px;
    font-weight: 500;
}

.contact > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0;
}

.contact > ul > li {
    display: flex;
    align-items: center;
    gap: 4px;
}